#city {
    width: calc(100% - 40px);
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid black;
}

#submit_button {
    background-color: cyan;
    font-size: 1.2em;
    margin: auto;
    display: block;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.error_message {
    color: #d00;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}
